
#caine_roots{
  text-align:center;
  font-size:12px;
}

svg {
  background:transparent;
  margin-top:50px;
  height:950px;
  width:100%;
  border: 1px ridge #aaa;
}

rect{
  fill:#ccc;
  stroke:#333;
}

rect.plate {
  fill:#333;
  stroke: #888;
  stroke-width: 0.5px;
  cursor:pointer;
}

rect.band{
  fill: #B0B0B0;
  stroke:#505050;
  stroke-width: 0px;
}

rect.plate.Sabbat {
  fill:#301010;
}

rect.plate.Camarilla {
  fill:#103010;
}

rect.plate.Anarchs {
  fill:#101030;
  
}

rect.plate.Inconnu {
  fill:#101010;
}

image.ghost,
rect.ghost {
  stroke:#CCC;  
  fill: #BBB;  
}



.name{
  font-size: 1em;
  font-family: "Titre";
  stroke:#888;  
  fill: #fff;
  stroke-width: 0.7px;
}
.property{
  font-family: "TexteLibre";
  font-size: 0.9em;
  stroke:#888;  
  fill: #fff;
  stroke-width: 0.6px;
}

.ghost {
  fill: #111;
  stroke:#666;
  stroke-width: 0px;
  opacity:0.8;
}




.link {
  fill: none;
  stroke: #A22;
  stroke-width: 2px;
  opacity: 0.5;
}


