
{% for x in c %}
    <li>
        {{ x.adventure }}
        <ul style="list-style-type: none;">

            {% for p in x.players %}
            <li style="list-style-image: none;">
                <span class="display" action="crossover_sheet" param="{{p.rid}}" title="Xover Sheet for {{p.name|safe}}">{{p.name}}&nbsp;<i class="fas fa-file"></i>&nbsp</span>
                <span class='view_creature' id="{{p.rid}}" title='View/Edit {{p.name|safe}}'><i class="fas fa-eye"></i></span>
            </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
