@import 'collector/css/basics';


svg {
  fill: yellow;
}

.story_box {
}

.storytelling {
  fill: $st_background;
  stroke: $st_color;
}


div.box.scene {
  & table {
    background: $plate;
    color: $st_color;
    border-radius: 5px;

    & tr {
      & th {
        background: darken($st_background, 10%);
        font-family: Titre;
        font-size: 12pt;
        width: 120px;
        word-wrap: normal;

      }

      & td {
        padding: 3px;
        width: 350px;
        word-wrap: normal;
        font-family: TexteLibre;
        font-size: 10pt;
      }
    }
  }
}

div.handler {
  background: transparent;
  position: fixed;
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  width: 400px;
  height: auto;
  background: transparent;
}

.storyboard_handler {
  @include wawwod_panel;
  display: flex;
  flex-flow: row wrap;
  word-wrap: normal;
  height: 100%;

  & .action, & textarea, & input {
    order: 2;
    width: 100%;
  }

  & .small {
    order: 1;
    width: 18%;
  }

  &.hidden {
    transition: all 0.3s ease;
    transform: translateX(-500px);
  }

  & textarea {
    height: 25em;
  }


}

.scene {
  @include wawwod_panel;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  height: auto;

  & .entry {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;

    & .label {
      width: 100px;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;
    }

    & .data {
      width: 750px;
      flex-grow: 1;
      flex-shrink: 1;;

    }
  }
}

ul {
  margin: 0;
  margin-left: 3ex;
  text-indent: 0;
  padding: 0;

  li.scene_jump {
    margin-left: 0;
    text-indent: 0;
    padding: 0;
    list-style-type: square;

    &:hover {
      color: orange;
      cursor: pointer;
    }
  }
}


.timeline1 {
  fill: #A99;
}

.timeline2 {
  fill: #2A2;
}

.timeline3 {
  fill: #22A;
}

.timeline4 {
  fill: #5422aa;
}

.timeline5 {
  fill: #aa2293;
}

.timeline6 {
  fill: #22aa81;
}

.timeline7 {
  fill: #aa5f22;
}

.timeline8 {
  fill: #8daa22;
}

.timeline9 {
  fill: #3d622b;
}

.timeline {
  fill: #934d4d;
}


a{
  text-decoration:none;
  color:white;
  &:hover{
    color:orange;
  }
}

#geocity{
    background: #A0A0A07f;
    border-radius:8pt;
}