/* line 4, storytelling/static/storytelling/css/storytelling.scss */
svg {
  fill: yellow; }

/* line 11, storytelling/static/storytelling/css/storytelling.scss */
.storytelling {
  fill: #301030;
  stroke: #F0F0F0; }

/* line 16, storytelling/static/storytelling/css/storytelling.scss */
svg #storyboard {
  fill: #FC4; }
