{% load static %}
{% load storytelling_filters %}

<a name="{{c.id}}">
<h3>H{{c.time_offset_hours|safe}} - {{c.name|safe}}</h3>
</a>
{{c.all_as_tags|as_tags|safe}}
<p class="boxed {{c.timeline_name|as_class}}">
    Date: {{c.story_time|safe}}<BR/>
    Location: {{c.place.acronym|safe}}<BR/>
    Custom time (D H): {{c.time_offset_custom|safe}}<BR/>
    Cast: {{c.ultimate_cast|safe}}
    {% if c.timeline %}
    <BR/>Timeline: {{c.timeline|safe}}
    {% endif %}
    {% if c.exact_place %}
    <BR/>Exact place: <em>{{c.exact_place|safe}}</em>
    {% endif %}
    {% if c.external_links %}
    <BR/>External Links:<BR/>{{c.external_links|safe}}
    {% endif %}
</p>

{% if c.preamble %}
<h4>Preamble</h4><p>{{c.preamble|as_md|safe}}</p>
{% endif %}

{% if c.objectives %}
<h4>Objectives</h4>
<p>{{c.objectives|as_md|safe}}</p>
{% endif %}
{% if c.fallbacks %}
<h4>Fallbacks</h4>
<p>{{c.fallbacks|as_md|safe}}</p>
{% endif %}

<h4>Description</h4>
<p>{{c.description|as_md|safe}}</p>

{% if c.side_treks %}
<p>{{c.side_treks|as_md|safe}}</p>
{% endif %}

{% if c.consequences %}
<h4>Consequences</h4>
<p>{{c.consequences|as_md|safe}}</p>
{% endif %}

{% if c.special %}
<h4>Special</h4>
<p>{{c.special|as_md|safe}}</p>
{% endif %}


{% if c.rewards %}
<h4>Rewards</h4>
<p>{{c.rewards|as_md|safe}}</p>
{% endif %}

{{c.links_to|as_pdf_nav_from|safe}}
{{c.links_from|as_pdf_nav_to|safe}}

<div style="text-align:center;">&middot; &middot; &middot;</div>