@import 'collector/css/basics';


svg {
  fill: yellow;
}

.story_box {
}

.storytelling {
  fill: $st_background;
  stroke: $st_color;
}


div.box.scene {
  & table {
    background: $plate;
    color: $st_color;
    border-radius: 5px;

    & tr {
      & th {
        background: darken($st_background, 10%);
        font-family: Titre;
        font-size: 12pt;
        width: 120px;
        word-wrap: normal;

      }

      & td {
        padding: 3px;
        width: 350px;
        word-wrap: normal;
        font-family: TexteLibre;
        font-size: 10pt;
      }
    }
  }
}

div.handler {
  background: transparent;
  position: fixed;
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  width: 400px;
  height: auto;
  background: transparent;
}

.storyboard_handler {
  @include wawwod_panel;
  display: flex;
  flex-flow: column nowrap;
  word-wrap: normal;
  height: 100%;

  &.hidden {
    transition: all 0.3s ease;
    transform: translateX(-500px);
  }
}

.scene {
  @include wawwod_panel;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  height: auto;

  & .entry {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;

    & .label {
      width: 100px;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;
    }

    & .data {
      width: 450px;
      flex-grow: 1;
      flex-shrink: 1;
      ;

    }
  }
}