{% load static %}

<ul class='bar hidden'>
    <li class="pull_down">
        <i class='fa fa-users'></i>&nbsp;Creatures
        {% if request.user.profile.storyteller_of_current %}
        <ul class="drop_down">
            <li class="display"><i class='fa fa-arrow-right'></i> Protagonists
                <ul class="pull_right">
                    <li class="list" id="cck"><i class="fas fa-list"></i> Chronicle: Camarilla Kindreds</li>
                    <li class="list" id="ccg"><i class="fas fa-list"></i> Chronicle: Camarilla Ghouls</li>
                    <li class="list" id="cgl"><i class="fas fa-list"></i> Chronicle: Gaia Lupines</li>
                    <li class="list" id="cgk"><i class="fas fa-list"></i> Chronicle: Gaia Kinfolks</li>
                    <li class="list" id="cgs"><i class="fas fa-list"></i> Chronicle: Gaia Spirits</li>
                    <li class="list" id="cmo"><i class="fas fa-list"></i> Chronicle: Mortals</li>
                    <li class="list" id="cnc"><i class="fas fa-list"></i> Chronicle: New creatures</li>
                    <li class="list" id="bal"><i class="fas fa-list"></i> Chronicle: TODO</li>
                </ul>
            </li>
            <li class="display"><i class='fa fa-arrow-right'></i>&nbsp;Antagonists
                <ul class="pull_right">
                    <li class="list" id="cwl"><i class="fas fa-list"></i> Chronicle: Wyrm Garous</li>
                    <li class="list" id="cwk"><i class="fas fa-list"></i> Chronicle: Wyrm Kinfolks</li>
                    <li class="list" id="cwf"><i class="fas fa-list"></i> Chronicle: Wyrm Fomori</li>
                    <li class="list" id="csk"><i class="fas fa-list"></i> Chronicle: Sabbat Kindreds</li>
                    <li class="list" id="csg"><i class="fas fa-list"></i> Chronicle: Sabbat Ghouls</li>
                    <li class="list" id="all"><i class="fas fa-list"></i> Chronicle: All Creatures</li>
                </ul>
            </li>
            <li class="display"><i class='fa fa-arrow-right'></i>&nbsp;Kindred Lineages
                <ul class="pull_right">
                    <li class="display" action="kindred_lineage"><i class="fas fa-sitemap"></i> Kindred Lineage</li>
                    <li class="display" action="kindred_lineage" param="Camarilla"><i class="fas fa-sitemap"></i> Camarilla Lineage</li>
                    <li class="display" action="kindred_lineage" param="Sabbat"><i class="fas fa-sitemap"></i> Sabbat Lineage</li>
                    <li class="display" action="kindred_lineage" param="Independents"><i class="fas fa-sitemap"></i> Independents Lineage</li>
                </ul>
            </li>

            <li class="display"><i class='fa fa-arrow-right'></i>&nbsp;Add creature
                <ul class="pull_right">
                    <li class="collector_action" action="add_mortal"><i class="fas fa-user-plus"></i> Add new mortal</li>
                    <li class="collector_action" action="add_garou"><i class="fas fa-user-plus"></i> Add new garou</li>
                    <li class="collector_action" action="add_kinfolk"><i class="fas fa-user-plus"></i> Add new kinfolk</li>
                    <li class="collector_action" action="add_fomori"><i class="fas fa-user-plus"></i> Add new fomor</li>
                    <li class="collector_action" action="add_spirit"><i class="fas fa-user-plus"></i> Add new spirit</li>
                    <li class="collector_action" action="add_kindred"><i class="fas fa-user-plus"></i> Add new kindred</li>
                    <li class="collector_action" action="add_ghoul"><i class="fas fa-user-plus"></i> Add new ghoul</li>
                    <li class="collector_action" action="add_mage"><i class="fas fa-user-plus"></i> Add new mage</li>
                </ul>
            </li>

            <hr/>
            <li class="display"><i class='fa fa-arrow-right'></i>&nbsp;Others
                <ul class="pull_right">
                    <li class="display" action="dashboard"><i class="fas fa-star"></i> Dashboard</li>
                    <li class="display" action="gaia_wheel"><i class="fas fa-globe"></i> Gaia Wheel</li>
                    <li class="collector_action" action="refix_all"><i class="fas fa-cogs"></i> Refix all</li>
                    <li class="collector_action" action="experiment"><i class="fas fa-cogs"></i> Experiment</li>
                </ul>

            </li>
        </ul>
        {% else %}
        <ul class="drop_down">
            <li class="display"><i class='fa fa-arrow-right'></i>&nbsp;Statistics
                <ul class="pull_right">
                    <li class="display" action="dashboard"><i class="fas fa-star"></i> Dashboard</li>


                </ul>

            </li>
        </ul>
        {% endif %}
    </li>



    <li class="pull_down">
        <i id='toggle_list' class='fa fa-users'></i>&nbsp;Storytelling
        <ul class="drop_down">
            {% include "collector/page/chronicles.html" with c=chronicles %}
            {% include "collector/objects/current_chronicle_details.html" with c=chronicles %}
            {% include "collector/page/players_sheets.html" with c=players %}
        </ul>
    </li>
    <li class="pull_down">
        <i id='toggle_chronicle' class='fa fa-cogs'></i>&nbsp;Options
        <ul class="drop_down">

            <li id="toggle_options" class="toggle" action="toggle" param="handler">Show/Hide Options (Ctrl+Alt+o)</li>
            <li id="toggle_details" class="toggle" action="toggle" param="details">Show/Hide Details (Ctrl+Alt+d)</li>

            <li id="toggle_moonphases" class="toggle" action="toggle" param="moonphase">Show/Hide Moon Phases (Ctrl+Alt+m)</li>
            <li><form action="{% url 'logout' %}" method="POST">{% csrf_token %}<button type="submit" >Disconnect {{request.user|upper}}</button></form></li>
        </ul>
    </li>
</ul>
