{% load wod_filters %}
<table cellspacing=0 cellpadding=0>
    {% include "collector/creature/main_header.html" with c=c %}
    {% include "collector/creature/mortal_header.html" with c=c %}
    {% include "collector/creature/attributes_header.html" with c=c %}
    {% include "collector/creature/abilities_header.html" with c=c %}
    {% include "collector/creature/abilities_columns.html" with c=c %}
    <tr>
        <td colspan=2>Backgrounds ({{c.total_backgrounds}})</td>
        <td colspan=2>Gifts ({{c.total_gifts}})</td>
        <td colspan=2>Renown</td>
        <td colspan=2>Rites</td>
    </tr>
    {% include "collector/creature/backgrounds_columns.html" with c=c %}
</table>

