{% load wod_filters %}
<table cellspacing=0 cellpadding=0>
    {% include "collector/creature/main_header.html" with c=c %}
    {% include "collector/creature/mortal_header.html" with c=c %}
    {% include "collector/creature/attributes_header.html" with c=c %}
    {% include "collector/creature/abilities_header.html" with c=c %}
    {% include "collector/creature/abilities_columns.html" with c=c %}
    <tr>
        <td colspan=2>Backgrounds ({{c.total_backgrounds}})</td>
        <td colspan=2>Spheres ({{c.total_traits}})</td>
        <td colspan=2>Resonance</td>
        <td colspan=2></td>
    </tr>
    {% include "collector/creature/backgrounds_columns.html" with c=c %}
</table>

