<div class="footnote">
    [<span class="display" action="crossover_sheet" param="{{c.rid}}">Cross+Over Sheet</span>]
    [<span class="view_creature" id="{{c.rid}}">Refresh</span>]
    [roster:<a href="/api/roster/{{c.rid}}/" target="wawwod_roster">{{c.id}}</a>]
    [text:<a href="/api/text/{{c.rid}}/" target="wawwod_roster">{{c.id}}</a>]
    {{c.stats_template}}
    [
    <span class="line_link" id="llb{{c.rid}}" action="balance" param="{{c.rid}}"><i class="fa fa-balance-scale"></i>&nbsp;Balance</span>
    |
    <span class="line_link" id="llr{{c.rid}}" action="randomize" param="{{c.rid}}"><i class="fa fa-recycle"></i>&nbsp;Randomize</span>
    ]
</div>