<div class="footnote">
    [<span class="display" action="crossover_sheet" param="{{c.rid}}">Cross+Over Sheet</span>]
    [roster:<a href="/api/roster/{{c.rid}}/" target="wawwod_roster">{{c.id}}</a>]
    [text:<a href="/api/text/{{c.rid}}/" target="wawwod_roster">{{c.id}}</a>]
    {{c.stats_template}}
    [
    <span class="line_link" id="llb{{c.rid}}" action="balance" param="{{c.rid}}">BALANCE</span>
    |
    <span class="line_link" id="llr{{c.rid}}" action="randomize" param="{{c.rid}}">RANDOMIZE</span>
    ]
</div>