@import 'basics';

body {
  font-family: Texte;
  @include body_background;
  min-height: 98%;
  color: $body_color;
}

.subsection {
  color: #DBCA86;
  text-decoration: underline;
  font-weight: bold;
}

.pdflink {
  display: inline-block;
  padding: 3px;
  background: #1d1d1d;
  color: #E5DECA;
  text-decoration: none;
}

.ping {
  background: orange;
}


.toggle_name {
  display: inline-block;
//   font-family: "Marcellus SC";
  width: auto;
  font-style: normal;
  font-weight: normal;
}


.waiting {
  cursor: progress;
  opacity: 0.95;
}

.golden {
  color: #ffcc22;
}

.blank {
  opacity: 0.5;
  color: #C0C0C0;
}

.embedded_link {
  color: #DBCA86;
  text-decoration: none;
}

.custom_glance {
  cursor: help;
}

.shown {
  display: block;
}

.noPDF:before {
  content: '(x) ';
}


/* Normal --------------------------------------------------------------------*/
@media all and (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
    overflow-x: hide;
    overflow-y: scroll;

    & input.userinput, & #text_edit {
      display: inline-block;
      order: 2;
      height: 18px;
      padding: 3px;
      margin: 1px 3px 1px 3px;
      box-shadow: 0 0 5px black;
      background: #C0C0C0;
      border: 1px solid silver;
      border-radius: 5px;
      color: black;
      font-size: 12px;

    }

    & #text_edit {
      height: 25em;
      word-wrap:break-word;
    }

    & .wrapper {

      position:fixed;
      top:0;
      right:0;
      bottom:10px;
      left:0;
      z-index: 60;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      background: transparent url() 98% 98% no-repeat fixed;

//       &.hidden {
//         display: none;
//         z-index:1;
//         width:0;
//         height:0;
//       }
    }
  }
}

.details {
  position: fixed;
  top: auto;
  right: 10px;
  bottom: 0px;
  left: auto;
  display: block;
  z-index: 510;
  width: auto;
  box-shadow: -5px -5px 10px $dark_plate;
  background: transparent;
  transition: all 0.3s ease;

//   &.hidden {
//     transform: translateX(1000px);
//     transition: all 0.3s ease;
//   }
}


.charlist {
  @include panel;

  & .pagination {
    width: $list_width;
    margin-top: 1em;
    text-align: center;

    & a, & strong, & span.nav {
      @include panel;
      display: inline-block;
      width: 2ex;
      padding: 0.3em 0.4em;
      margin: 0 0.2em;
      background: $very_dark_plate;
      border-radius: 5px;
      cursor: pointer;
      color: $plate_highlight;
      text-decoration: none;
      font-family: TexteLibre;
      font-size: 0.7em;
    }
  }

  & .avatar_link {
    @include panel;
    padding: 2px;
    margin: 2px;
    border-color: darken($panel_border, 30%);
    border-radius: 0 0 5px 0;
    & a {
      text-decoration: none;
    }
    font-family:"Inria Sans";

  }

  & ul {
    width: $list_width;
    padding: 0;
    margin: 0;
    text-indent: 0;
    list-style-type: none;

    & li {
      padding: 0;
      margin: 0;

    }


  }

  @include panel;
  //background: $plate;
  position: fixed;
  top: 0;
  right: 5px;
  bottom: auto;
  left: auto;
  display: block;
  z-index: 70;

  width: $list_width;
  padding-top: 0px;
  margin: auto;
  box-shadow: 0 0 5px $very_dark_plate;
  border-radius: 5px;
  transition: all 0.3s ease;


  &.hidden {
    transform: translateY(-1800px);
    transition: all 0.3s ease;
  }

  margin-top:3em;
  border-color: $panel_border;
}




/* Details - Creature Block */
.creature {
  background: transparent;
  border-radius: 8px;
  font-family:Titre;
  font-size: 9pt;

  //&.navigator {
  //  background: #101010;
  //  color: #D0D0D0;
  //  text-align: center;
  //  font-family: TexteLibre;
  //  font-size: 16px;
  //}

  //& a {
  //  &:visited, &:link, &:hover, &:active {
  //    color: black;
  //  }
  //}

  & strong {
    font-family: Titre;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.4em;
  }

  & table {
    margin: auto;
    box-shadow: -2px -2px 8px $panel_shadow;
    background: #303030;
    border: 1px solid transparent;
    border-radius: 10px 0 0 0;
    color: black;
    font-family: Texte;

    & tr {
      padding: 0;
      margin: 0;
      & th {
        padding: 5px;

        &[colspan='5'] {
          height: 90px;
          padding: 0;
          padding-left: 3ex;
          background: $very_dark_plate;
          text-align: left;
        }

        &.clan_logo {
          height: 50px;
          padding: 0;
          background: $very_dark_plate;
          overflow: hidden;
          overflow-y: hidden;

          & img {
            width: 80px;
            filter: invert(75%);
          }
        }

        &.back {
          background: $very_dark_plate;
        }

        //@include panel;
        width: 110px;

        height: auto;
        padding: 1px;
        padding: 0;
        margin: 0;
        background: $panel_background;
        border: none;
        border: 1px solid $very_dark_plate;
        color: $panel_color;
        font-family: TexteLibre;
        font-size: 8pt;
        font-weight: normal;

        &.tainted {
          border-color: transparent;
        }

      }

      &:first-child th {
        border-radius: 3px 6px 0 0;
      }

      &:last-child th {
        border-radius: 0 0 3px 6px;
      }

      & td {
        width: 110px;
        padding: 1px;
        margin: 0;
        background: transparent;
        border: 1px solid transparent;
        color: $panel_color;
        text-align: left;
        text-align: center;
        font-family: TexteLibre;
        font-size: 8pt;

        &[colspan='2'], &[colspan='8'] {
          background: $panel_shadow;
          border-radius: 5px;
          color: $panel_color;
          text-align: center;
          font-family: "Marcellus SC";
          font-size: 12pt;
        }

        &.topic {
          padding: 1px;
          margin: 0;
          background: transparent;
          text-align: left;
          font-family: TexteLibre;
          font-size: 8pt;
        }

        &.editable {
            &.packed{
                max-width:110px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow:hidden;
            }
            &.userinput.focus {
                border-color: $focus_color;
            }
        }
      }
    }

    &.freewidth tr td {
      width: auto;
    }
  }


}


table {
  & tr.tainted {
    & th.tainted {
      background: transparent;
      border: none;
    }
  }
}

.mortal {
  & table {
    & tr.tainted {
      @include mortal_taint;
    }
  }
}

.fomori {
  & table {
    & tr.tainted {
      @include fomori_taint;
    }
  }
}

.Camarilla.kindred {
  & table {
    & tr.tainted {
      @include camarilla_taint;
    }
  }
}

.Independents.kindred {
  & table {
    & tr.tainted {
      @include independents_taint;
    }
  }
}


.changeling {
  & table {
    & tr.tainted {
      @include changeling_taint;
    }
  }
}

.wraith {
  & table {
    & tr.tainted {
      @include wraith_taint;
    }
  }
}

.mage {
  & table {
    & tr.tainted {
      @include mage_taint;
    }
  }
}


.Sabbat.kindred {
  & table {
    & tr.tainted {
      @include sabbat_taint;
    }
  }
}


.ghoul {
  & table {
    & tr.tainted {
      @include ghoul_taint;
    }
  }
}

.garou {
  & table {
    & tr.tainted {
      @include garou_taint;
    }
  }
}

.kinfolk {
  & table {
    & tr.tainted {
      @include kinfolk_taint;
    }
  }
}

.Pentex {
  & table {
    & tr.tainted {
      @include pentex_taint;
    }
  }
}


.list .goodies {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
  text-align: center;

  & span {
    cursor: pointer;
    font-family: Titre;
  }
}


.bar {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 100;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: auto;
  padding: 3px;
  margin: 0;
  background: transparent;
  color: white;
  flex-flow: row nowrap;

  & .pull_down {
    display: inline-block;
    order: 1;
    width: 300px;
    height: 24px;

    margin: 0 3px 0 3px;

    font-family: "Ruda";
    font-size: 12px;


    @include panel;




    &.chronicle {
      text-align: center;
      font-family: Titre;
      font-size: 16px;
    }

    & ul.drop_down {
      display: none;
      padding-left: 2ex;
      margin-left: 0;
      text-indent: 0;

      list-style-type: none;

      & li {
        padding: 5px;
        margin: 2px;
        border-radius: 5px;
        color: $plate_color;
      }
    }

    &:hover {
      //background:darkred;
      height: auto;

      & ul.drop_down {
        display: block;


        & li.wod {
          background: $plate_selected;
        }


        & li:hover {
          background: #2d052d; //complement($panel_background);
          cursor: pointer;
          color: $plate_highlight;
          & li{
            background:#300542;
            &:hover{
              background: #200d65;
            }
          }

        }
      }
    }
  }

//   &.hidden {
//     display: none;
//   }
}


#caine_roots {
  text-align: center;
  font-size: 14px;
}

svg.lineage{
  margin: 0;
  background:#2020207f;
  border: 3px ridge #C0C0C07f;
}

svg{

}

svg.lineage {


  & .node {
    & .property {
      font-family: "Roboto";
      font-size: 9pt;
      stroke: #606060;
      fill: #fff;
      stroke-width: 0.6pt;
    }

    & rect {
      &.band {
        fill: #333;
        stroke: #666;
        stroke-width: 0.5pt;


      }

      &.frame {
        fill: transparent;
        stroke: #D0D0D0;
        stroke-width: 1pt;
        stroke-opacity: 0.5;
      }

      &.plate {
        fill: #444;
        stroke: #888;
        stroke-width: 0.5pt;

        &.Camarilla {
          fill: $camarilla_fill;
        }

        &.Anarchs {
          fill: $anarchs_fill;
        }

        &.Sabbat {
          fill: $sabbat_fill;
        }

        &.Independents {
          fill: $independents_fill;
        }

      }
    }

    &.dead {
      & rect {
        &.frame {
//           stroke: $dead_background;
          stroke-width: 3pt;
          stroke-linecap: butt;
          //stroke-opacity: 0.25;

        }

        &.band {
          stroke-width: 0;
          //fill-opacity: 0.25;
        }

        &.plate {
          stroke-width: 0;
          //fill-opacity: 0.25;
        }
      }
    }

    &.missing {
      & rect {
        &.frame {
          stroke: $missing_background;
          stroke-width: 3pt;
          stroke-linecap: butt;
          //stroke-opacity: 0.25;
        }

        &.band {
          stroke-width: 0;
          fill-opacity: 0.75;
        }

        &.plate {
          stroke-width: 0;
          fill-opacity: 0.75;
        }
      }
    }

    & .ghost {
      opacity: $ghost_opacity;
    }

  }

  & .link {
    fill: transparent;
    fill-opacity: 0;
    stroke: #E040407f;
    stroke-width: 8pt;

    &.ghost {
      opacity: $ghost_opacity;
    }
  }

}

.tooltip {
  position: absolute;
  top:2vh;
  right:1vw;
  z-index: 400;
  width: 15vw;
  height: 30vh;

  padding: 2px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 5px #111;
  background: #C0C0C0;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0;
  color: black;
  color:black;
  text-align: center;
  font-family: "Ruda";
  font-size: 11pt;
  pointer-events: none;


  & p{
    text-align: left;
  }


  & strong {
    font-size: 1.6em;
    font-weight: bold;
    font-variant: small-caps;
  }

  & ol, ul   {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    text-align: left;

    & li {
    }
  }
//   &.hidden{
//     display:none;
//   }

}


svg .node_circle {
  //fill: $panel_color;
  stroke: $focus_color;
  stroke-width: 3pt;


  &.garou {
    fill: $garou_fill;
  }

  &.kinfolk {
    fill: $kinfolk_fill;
  }

  &.kindred {
    fill: $kindred_fill;
  }


  &.ghoul {
    fill: $ghoul_fill;
    stroke: #FFCC88;
  }

  &.fomori {
    fill: $fomori_fill;
  }

  &.mage {
    fill: $mage_fill;
  }

  &.changeling {
    fill: $changeling_fill;
  }

  &.wraith {
    fill: $wraith_fill;
  }

  &.mortal {
    fill: $mortal_fill;
  }

  &.balanced {
    stroke-width: 1pt;
    stroke: $panel_color;
  }
}

.footnote {
  width: 100%;
  padding: 5px;
  background: transparent;
  color: white;
  text-align: center;
  font-family: TexteLibre;
  font-size: 11px;

  & span.display {
    cursor: pointer;
    color: $focus_color;
  }

  & a {
    &:visited, &link, &:active, :hover {
      color: red;
    }

    color: red;
  }
}

td.editable.updown {
  & i.blank.focus {
    color: $focus_color;
  }
}

#d3area {
  position:absolute;
  top:4vh;
  left:1vw;
  width: 98vw;
  height: 88vh;
  //border:1px solid saddlebrown;
  //background:lightgoldenrodyellow;
//   &.hidden{
//       z-index:0;
//   }
}

#htmlarea{
   z-index:500;
//    &.hidden{
//       z-index:0;
//   }
}

div.creature_links {
  display: inline-block;
  float: right;

  & i {
    margin-left: 1ex;

    &:hover {
      color: $focus_color;
    }
  }

}


.avatar_link {
  &.ghoul {
    background: $ghoul_fill;
  }

  &.kinfolk {
    background: $kinfolk_fill;
  }

  &.kindred {
    background: $kindred_fill;
  }

  &.garou {
    background: $garou_fill;
  }

  &.mage {
    background: $mage_fill;
  }

  &.wraith {
    background: $wraith_fill;
  }

  &.changeling {
    background: $changeling_fill;
  }
}


.creature_img {
  box-shadow: 2px 2px 5px #111;
  filter: invert(90%);
}


text.kindred_name {
  & tspan {
    font-family: "Philosopher";
    font-size: 12pt;
    font-variant: small-caps;
    fill: #FFF;
    stroke: #DDD;

    &.property tspan {
      font-family: "Philosopher";
      font-size: 9pt;
      fill: #EEE;
      stroke: #CCC;
    }
  }

}


.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.dead_node{
  stroke-dasharray:"2 3";
}

#user_wrapper {
  position: absolute;
  display: flex;
  z-index: 10000;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  width: 100%;
  height: 100%;
  background: #10101060;
  flex-flow: row no-wrap;


  & #user_panel {
    position: absolute;
    z-index: 10001;
    flex-grow: 1;
    flex-order: 1;
    width: 400px;
    height: 200px;
    padding: 5px;
    margin: auto;
    box-shadow: 0 0 10px #000000;
    background: $panel_background;
    border: 3px solid $panel_border;
    border-radius: 20px;
    opacity: 1.0;
    color: $panel_color;
    text-align: center;

    & table {
      width: 100%;
    }

    & A {
      color: $focus_color;
      text-decoration: none;
    }

    & input {
      padding: 5px;
      background: #000;
      border: 2px groove $panel_border;
      color: #FFF;

      &[type='submit'] {
        border: 2px ridge $panel_border;
        border-radius: 3px;
      }
    }
  }
}


.ghouls_list {
  font-family: Roboto;
  font-size: 9pt;
}


.line_link{
  cursor:pointer;
  color:$focus_color;
  &:hover{
    color:$plate_highlight;
  }
}

fieldset{
    border: 1px solid white;
    border-radius: 5px;
    & .adventure_item{
        width:36ex;
        height:1.2em;
        & .label{
            display:inline-block;
            width:28ex;

        }
        & span.display{
            display:inline-block;
            width:2ex;
            cursor:pointer;
            text-align:center;

        }
        & span.view_creature{
            display:inline-block;
            width:2ex;
            cursor:pointer;
            text-align:center;


        }
    }
}

.year{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:auto;
    height:auto;
    padding:6pt;
    margin:auto;
    background:silver;
    border-radius:5pt;
    flex-flow:column nowrap;
    justify-items: flex-start;
    & .month{
        order:1;
        padding:10pt;
        margin:40pt;
        background:#E0E0E0;
        border-radius:5pt;
        color:black;
        & table{
            & caption{
                height:30pt;
                text-align:left;
                font-family:Philosopher;
                font-size:12pt;
            }

            & tr{
                height:60pt;
                border:1pt;
                &.head{
                    height:10pt;
                }

                & td{
                        vertical-align:top;
                        width:100pt;
                        padding:auto;
                        padding-top:5pt;
                        padding-left:5pt;
                        background:white;
                        border:1pt solid black;
                        border-radius:5pt;
                        color:black;
                        text-align:left;
                        & span{
                            font-family:Philosopher;
                            font-size:10pt;
                        }
                        &.blank{
                            background:transparent;
                            border-color:transparent;
                            color:transparent;
                        }
                    }
                & th {
                    width:90pt;
                    font-family:Philosopher;
                    font-size:11pt;
                    }
                }
            margin:auto;
        }
    }
}

.weaver_code{
    }

.moonphase{
    z-index:1500;
    float:right;
    margin:15px;
    background:#401010;
    border-radius:5px;
    color:white;
    & table{
        & caption{
            font-size:16pt;font-family:Philosopher;
        }
    }
    & tr{
        height:40px;border:5px;

        & td{
            vertical-align:middle;
            width:40px;

            color:black;
            text-align:center;
        }
    }
//     &.hidden{
//         display:none;
//     }
}

.line_block{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row nowrap;
    gap:2px;
    & .line_bit{
        padding:3pt;
        border:3pt solid #1010107f;
        border-radius:3pt;
        &.name{
            flex: 0 0 20ex;
            order:1;
            color:#f07f4f;
        }
        &.family{
            flex: 0 0 20ex;
            order:3;
            color: #C05050;
            text-align:center;
            &.giovanni, &.assamite, &.ravnos, &.setite{
                color: #5070C0;
            }
            &.ventrue, &.toreador, &.tremere, &.malkavian, &.nosferatu, &.gangrel, &.brujah {
                color: #709070;
            }
        }
        &.creature_type{
            flex: 0 0 10ex;
            order:2;
            text-align:center;
        }
        &.options{
            flex: 1 0 auto;
            order:4;
        }
        &.tail{
             order:5;
        }
    }
}

#htmlarea{
    .factions{
        display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        align-content:flex-center;
        flex-flow:row wrap;
        gap:5px;
        & fieldset{
            width:90ex;
            background:#101010;
            & legend{
                color:white;
                font-family: TexteLibre;
            }
            & fieldset{
                margin:1px;
                border:1px dotted #606060;
            }
        }
        & .creature_sticker{
          & .back{
              fill:#202020;
              stroke:#A0A0A0;
              stroke-width:0.2pt;
          }
          &.unbalanced{
            & .back{
                fill:#403030;
            }
          }
          &.okplus{
            & .back{
                fill:#603030;
            }
          }
          &.kindred{
            & .back{
              stroke:#A07070;
            }
          }
          &.ghoul{
            & .back{
              stroke:#102010;
            }
          }
        }
    }
    max-height:calc(88% - 40px);
    margin-top:40px;
    overflow:scroll;
}

*.hidden {
    &.righter{
        transform: translateX(1000px);
        transition: all 0.3s ease;
    }
    &.lefter{
        transform: translateX(-1000px);
        transition: all 0.3s ease;
    }
//    display: none;
}
