<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>{% block title %}WaWWoD{% endblock %}</title>
    {% load static %}
    <link rel='icon' href='{% static "collector/wawwod.ico" %}'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/solid.css'
          integrity='sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css'
          integrity='sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV' crossorigin='anonymous'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"></script>
    <script type="text/javascript" src='{% static "js/cross_over_sheet.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/collector.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/gaia_wheel.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/kindred_lineage.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/storytelling.es6" %}'></script>
    {% for font in fontset %}
        <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family={{font}}">
    {% endfor %}
    {% load compress %}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static "collector/css/main.scss" %}'/>
    <link rel='stylesheet' type='text/x-scss' href='{% static "storytelling/css/storytelling.scss" %}'/>
    {% endcompress %}
</head>
<body>
<ul class='bar'>
    <li class="pull_down">
        <i id='toggle_list' class='fa fa-users'></i>&nbsp;Creatures
        <ul class="drop_down">
            <li class="list" id="all">List: All</li>
            <HR/>
            <li class="list" id="vtm">Vampire the Masquerade</li>
            <li class="list" id="wta">Werewolf the Apocalypse</li>
            <li class="list" id="mta">Mage the Ascension</li>
            <li class="list" id="wto">Wraith the Oblivion</li>
            <li class="list" id="ctd">Changeling the Dreaming</li>
            <HR/>
            <li class="list" id="pen">List: Pentex Forces</li>
            <li class="list" id="mor">List: Mortals</li>
            <li class="list" id="new">List: New creatures</li>
            <HR/>
            <li class="collector_action" action="add_creature">Add new creature</li>
            <li class="collector_action" action="add_kindred">Add new kindred</li>
            <li class="collector_action" action="refix_all">Refix all</li>
            <HR/>
            <li class="display" action="kindred_lineage">Kindred Lineage</li>
            <li class="display" action="kindred_lineage" param="Camarilla">Camarilla Lineage</li>
            <li class="display" action="kindred_lineage" param="Sabbat">Sabbat Lineage</li>
            <li class="display" action="kindred_lineage" param="Independant">Independants Lineage</li>
            <HR/>
            <li class="display" action="gaia_wheel">Gaia Wheel</li>
            <HR/>
            {% include "collector/page/players_sheets.html" with c=players %}
        </ul>
    </li>
    <li class="pull_down">
        <i id='toggle_list' class='fa fa-users'></i>&nbsp;Storytelling
        <ul class="drop_down">
            {% include "collector/page/chronicles.html" with c=chronicles%}
            <HR/>
            <li class="display" action="storytelling">Storytelling</li>
        </ul>
    </li>
    <li class="pull_down">
        <i id='toggle_chronicle' class='fa fa-cogs'></i>&nbsp;Options
        <ul class="drop_down">
            <li class="action" id="settings">Settings</li>
            <li class="toggle" action="toggle" param="storyboard_handler">Show/Hide storyboard options</li>
            <li class="toggle" action="toggle" param="details">Show/Hide details</li>
        </ul>
    </li>

</ul>



<div class='wrapper' style="background-image: url('{% static chronicle_logo %}')">
    <div class='charlist'>
        {% block list %}
        {% endblock list %}
    </div>
    <div id='d3area'>
    </div>
    <div class='details'>
        {% block creature %}
        {% endblock creature %}
    </div>
    <div class='handler'>
        <div class="storyboard_handler">
            <div class="plank tag toggle" action="toggle" param="storyboard_handler"><i class='fa fa-times'></i></div>
            <div class="plank action" id="time_slip_m1d" action="time_slip" param="m1d_m0h">One day in the past</div>
            <div class="plank action" id="time_slip_m1h" action="time_slip" param="m0d_m1h">One hour in the past</div>
            <div class="plank action" id="time_slip_p1h" action="time_slip" param="m0d_p1h">One hour in the future</div>
            <div class="plank action" id="time_slip_p1d" action="time_slip" param="p1d_p0h">One day in the future</div>
            <div class="plank action" id="create_link" action="create_link">Create Link</div>
            <div class="plank action" id="create_link" action="create_link">Clear Selection</div>
            <textarea class="plank text" id="text_edit"></textarea>
            <div class="plank tag action" id="resend" action="create_link"><i class="fa fa-arrow-right"></i></div>
            <input type='text' id='userinput' placeholder='Free text here...'>
        </div>
    </div>

</div>


{% block javascript %}
{% endblock javascript %}
<div id="custom_js"></div>
    <script>
    _.defer(function(){
        let co = new WawwodCollector()
        co.perform();
    });
    </script>



</body>
</html>
