<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>{% block title %}WaWWoD [{{ miscellaneous.version }}]{% endblock %} </title>
    {% load static %}
    <link rel='icon' href='{% static "collector/wawwod.ico" %}'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/solid.css'
          integrity='sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css'
          integrity='sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV' crossorigin='anonymous'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/7.8.4/d3.js"></script>
    <script type="text/javascript" src='{% static "js/wawwod_sheet.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/cross_over_sheet.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/collector.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/gaia_wheel.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/dashboard.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/chronicle_map.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/kindred_lineage.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/sept.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/storytelling.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/geocity.es6" %}'></script>
    <script type="text/javascript" src='{% static "js/adventure_sheet.es6" %}'></script>
    {% for font in fontset %}
    <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family={{font}}">
    {% endfor %}
    {% load compress %}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static "collector/css/main.scss" %}'/>
    <link rel='stylesheet' type='text/x-scss' href='{% static "storytelling/css/storytelling.scss" %}'/>
    {% endcompress %}
</head>
<body>
    {% include "collector/objects/global_menu.html" %}

{% block userzone %}
{% endblock userzone %}

<div class='wrapper hidden' style="background-image: url('{% static chronicle_logo %}')">
    <div class='charlist righter'>
        {% block list %}
        {% endblock list %}
    </div>
    <div id='d3area'>
    <div id='htmlarea'>
    </div>
    </div>
    <div class='details righter'>
        {% block creature %}
        {% endblock creature %}
    </div>
    <div class='handler lefter hidden'>
        <div class="storyboard_handler">
            <div class="plank tag toggle small" action="toggle" param="handler"><i class='fa fa-times'></i></div>
            <div class="plank tag toggle small" action="toggle" param="storyboard_handler"><i class='fa fa-arrow-circle-left'></i></div>
            <div class="plank tag toggle small" action="toggle" param="storyboard_handler"><i class='fa fa-arrow-circle-right'></i></div>
            <div class="plank tag toggle small" action="toggle" param="storyboard_handler"><i class='fa fa-arrow-circle-up'></i></div>
            <div class="plank tag toggle small" action="toggle" param="storyboard_handler"><i class='fa fa-arrow-circle-down'></i></div>
            <div class="plank action small" id="time_slip_m1d" action="time_slip" param="m1d_m0h"><i class='fa fa-calendar'></i> -1D</div>
            <div class="plank action small" id="time_slip_m1h" action="time_slip" param="m0d_m1h"><i class='fa fa-hourglass-end'></i> -1H</div>
            <div class="plank action small" id="time_slip_p1h" action="time_slip" param="m0d_p1h"><i class='fa fa-hourglass-start'></i> +1H</div>
            <div class="plank action small" id="time_slip_p1d" action="time_slip" param="p1d_p0h"><i class='fa fa-calendar'></i>+ 1D</div>
            <div class="plank tag singler small" action="bulk" param="text_edit" title="Bulk add!"><i class='fa fa-circle'></i></div>
            <div class="plank action" id="create_link" action="create_link"><i class='fa fa-link'></i> Create Link</div>
            <div class="plank action" id="create_link" action="create_link"><i class='fa fa-bolt'></i> Clear Selection</div>
            <div class="plank tag action" id="resend"><i class="fa fa-arrow-right"></i></div>
            <textarea class="plank text" id="text_edit"></textarea>
            <input type='text' id='userinput' class='userinput'  placeholder='Free text here...'>
            <input type='text' id='user_command' class='userinput' placeholder='Quaestor command here'>
            <div class="plank button action" id="query_send" action="quaestor"><i class="fa fa-info-circle"></i>&nbsp;Quaestor Query</div>
        </div>
    </div>

</div>

<!--<div class="moonphase" style="float:right;margin:5px;">-->
<!--<a target="blank"-->
<!--	style="text-decoration:none;"-->
<!--	href="https://moonphase.guide/">-->
<!--		<img src="https://moonphase.guide/module/MQmN6NVJrL1k1Z3FyMW9Ja2FHOS9Lb3dWY0NVbTNGL0hBLzY3eis1M1RVZTVLRks5b2pYUG9ZSFlyQjU3ejdqV1RTNERTMlQ1a3pNRXdBWlBjRTVUUnc9PQ.png" />-->
<!-- </a>-->
<!--</div>-->

<div class="moonphase righter hidden" >
    <table>
        <caption>Moon Phases: {{weeks.month}}</caption>
        {% for w in weeks.weeks %}
            <tr style="">
                {% for dow in w %}
                <td style="background:{{dow.color}};"><img src="{% get_static_prefix %}collector/auspices/Auspice{{dow.str}}.webp" height="15px" title="{{dow.str}}"><br/><span style="font-size:12pt;font-family:Philosopher">{{dow.num}}</span></td>
                {%endfor%}
            </tr>
        {%endfor%}

    </table>
</div>

{% block javascript %}
{% endblock javascript %}

<div id="custom_js">
</div>
</body>
</html>
