{% load static %}
{% load storytelling_filters %}
<a id="{{c.rid}}"><h6>{{c.name|safe}}</h6></a>
<div class="roster {{c.creature}}">
{{c.roster_base|safe}}
{% if c.status == "READY" %}
<!--table>
    <tr>
        <th style="width:2cm;">Strength</th><td style="width:1.25cm; text-align:center;">{{c.attribute0|pdf_stat|safe}}</td>
        <th style="width:2cm;">Charisma</th><td style="width:1.25cm; text-align:center;">{{c.attribute3|pdf_stat|safe}}</td>
        <th style="width:2cm;">Perception</th><td style="width:1.25cm; text-align:center;">{{c.attribute6|pdf_stat|safe}}</td>
    </tr>
    <tr>
        <th style="width:2cm;">Dexterity</th><td style="width:1.25cm; text-align:center;">{{c.attribute1|pdf_stat|safe}}</td>
        <th style="width:2cm;">Manipulation</th><td style="width:1.25cm; text-align:center;">{{c.attribute4|pdf_stat|safe}}</td>
        <th style="width:2cm;">Intelligence</th><td style="width:1.25cm; text-align:center;">{{c.attribute7|pdf_stat|safe}}</td>
    </tr>
    <tr>
        <th style="width:2cm;">Stamina</th><td style="width:1.25cm; text-align:center;">{{c.attribute2|pdf_stat|safe}}</td>
        <th style="width:2cm;">Appearance</th><td style="width:1.25cm; text-align:center;">{{c.attribute4|pdf_stat|safe}}</td>
        <th style="width:2cm;">Wits</th><td style="width:1.25cm; text-align:center;">{{c.attribute8|pdf_stat|safe}}</td>
    </tr>
</table-->
{{c.roster_attributes|safe}}
{{c.roster_talents|safe}}
{{c.roster_skills|safe}}
{{c.roster_knowledges|safe}}
{{c.roster_end|safe}}
    {% if c.equipment %}
        {{c.equipment|safe}}
    {% endif  %}
<!--{{c.roster_shortcuts|safe}}-->
{% endif  %}
</div>
